psutil
scipy
matplotlib==3.4.1
numpy==1.20.2
numba==0.53.1
altgraph==0.17
colorama==0.4.4
curtsies==0.3.5
cwcwidth==0.1.4
easygui==0.98.2
future==0.18.2
keyboard==0.13.5
nulltype==2.3.1
pyinstaller
pyinstaller-hooks-contrib==2020.11
pywin32-ctypes==0.2.0
six==1.15.0
tqdm==4.59.0
windows-curses==2.2.0
